<%
# Copyright 2019 AJ Esler
# Copyright 2019 Matthew B. Gray
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="l-panel">
        <%= form_tag(charges_path, id: "purchase-form") do %>
          <article>
            <div id="error_explanation"></div>

            <p>You need to pay <%= number_to_currency(@outstanding_amount / 100) %> NZD to cover this membership.
            Please pay the full amount, or choose an installment from the list.</p>

            <label class="amount">
              <span>Amount:
                <%= select_tag(:amount, options_for_select(@price_options, selected: @outstanding_amount)) %>
              </span>
            </label>
          </article>

          <%= hidden_field_tag(:stripeToken) %>
          <%= hidden_field_tag(:stripeEmail) %>
          <%= hidden_field_tag(:purchaseId, @purchase.id) %>
          <div class="l-v-spacing-both">
            <div class="form-group">
              <%= submit_tag("Pay for #{@membership} membership", id: "purchase-button", class: "btn btn-m-full-width") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  currency: 'NZD',
  name: 'CoNZealand',
  description: '<%= "CoNZealand #{@membership.name} membership" %>',
  email: '<%= current_user.email %>',
  token: function(token) {
    document.querySelector('input#stripeToken').value = token.id;
    document.querySelector('input#stripeEmail').value = token.email;

    document.querySelector('form#purchase-form').submit();
  }
});

document.querySelector('#purchase-button').addEventListener('click', function(e) {
  e.preventDefault();

  document.querySelector('#error_explanation').innerHtml = '';

  var amount = document.querySelector('select#amount').value;
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseInt(amount);

  if (isNaN(amount)) {
    document.querySelector('#error_explanation').innerHtml = '<p>Please enter a valid amount in NZD ($).</p>';
  } else {
    handler.open({
      amount: amount
    })
  }
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
