<%#
  Copyright 2019 Matthew B. Gray

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% if request.path != root_path %>
  <div class="<%= navigation_classes %> pointer"
    data-toggle="collapse"
    data-target="#navbarHeader"
  >
    <div class="container d-flex justify-content-between">
      <div
        class="navbar-brand d-flex align-items-center"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <strong>Menu and Account Options</strong>
      </div>

      <button
        class="navbar-toggler collapsed"
        type="button"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% else %>
  <div class="<%= navigation_classes %>">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">
        <strong>Welcome to the NEW Members Area</strong>
      </div>
    </div>
  </div>
<% end %>

<nav class="container <%= "collapse" if request.path != root_path %>" id="navbarHeader">
  <div class="row">
    <div class="col-sm-8 col-md-6 py-4">
      <ul class="list-unstyled">
        <li><%= link_to "Purchase Membership", new_purchase_path %></li>
        <li><%= link_to "Review Memberships", purchases_path %></li>
        <li>Suggest for our Programme (coming soon)</li>
        <li><a href="https://conzealand.nz/conzealand-needs">Volunteering</a></li>
        <li>Plan my trip(coming soon)</li>
        <li><a href="https://conzealand.nz">Back to CoNZealand homepage</a></li>
      </ul>
    </div>
    <div class="col-sm-4 offset-md-1 col-md-5 py-4">
      <% if user_signed_in? %>
        <h2 class="h4-like">Account actions</h2>
        <%= link_to("Logout #{current_user.email}", logout_user_tokens_path) %>
      <% else %>
        <h2 class="h4-like">Login or Create an Account</h2>
        <%= render template: "user_tokens/new" %>
      <% end %>
    </div>
  </div>
</nav>
